body {
    width: 960px;
    margin: 20px auto;
}

h1 {
    color: #777777;
    border-bottom: 1px solid #777777;
}

h2 {
    color: #aa0000;
    border-bottom: 1px dashed #aa0000;
}

hr {
    float: none;
    clear: both;
}

.navBar a{
    background-color: #000000;
    color: #ffffff;
    display: block;
    float: left;
    margin: 20px;
    padding: 20px;
    list-style-type: none;

}

.img {
    list-style: none;
    padding: 0; 
    margin: 0;
}

.lili {
    display: block;
    padding: 10px;
    margin: 10px;
    display: block;
    float: left;
}

.main {
    float: left;
    width: 70%;
}

.sideBar {
    background-color: #e7e7e7;
    float: right;
    width: 20%;
}

.footer {
    border-top: 1px solid #000000;
    float: none;
    clear: both;
    padding: 10px;
}

.image-list2 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.image-list2  li {
    padding: 10px;
    margin: 10px;
    float: left;
    text-decoration: none;
}

.image-list2 img {
    width: 100px;
    height: 100px;
}

h4 {
    text-align: center;
}